.colab
{
    padding-left: 50px;
    padding-bottom: 40px;
}

.col{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ele{
    height: 170px;
    width: 190px;
}
.gf{
    height: 180px;
    width: 180px;
}
.dine{
    height: 270px;
    width: 270px;
}
.arokya{
    height: 220px;
    width: 220px;
    
}
.jmed{
    height: 200px;
    width: 400px;
}

.jk{
    height: 250px;
    height: 250px;
}


@media(max-width : 750px)
{
    .colab{
        padding-left: 0px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .col{
        flex-direction: column;
        margin-top: 20px;
    }
    .ele{
        height: 115px;
        width: 130px;
    }
    .gf{
        height: 120px;
        width: 120px;
        margin-top: 20px;
    }
    .dine{
        height: 200px;
        width: 200px;
    }
    .arokya{
        height: 190px;
        width: 190px;
        
    }
    .jmed{
        height: 150px;
        width: 250px;
    }
    
    .jk{
        height: 200px;
        height: 200px;
    }
}