.colab
{
    padding-left: 50px;
    padding-bottom: 40px;
}

.col{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ele{
    height: 170px;
    width: 190px;
}
.gf{
    height: 180px;
    width: 180px;
}
.dine{
    height: 270px;
    width: 270px;
}
.arokya{
    height: 220px;
    width: 220px;
    
}
.jmed{
    height: 200px;
    width: 370px;
}