.hero{
    height: 400px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}

.logof{
    height: 200px;
    width: 360px;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 40px;
    margin-top: 70px;
}

.line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.line h1{
    font-size: 100px;
}

.black{
    color: black;
}
.red{
    color: red;
}